/* 1 header  */
/* logo */
.logo{
  color: #4E47FF;
  font-weight: 900;
  font-size: 34px;
  line-height: 150%;
  
}
/* inter-font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sign-up-btn {
  width: 132px;
  height: 48px;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 12px 36px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  font-weight: 700;
}
.sign-up-btn:hover { background-color: #db0b0b; }
.sign-up-btn:hover {
  cursor: pointer;
}

  /* stay-btn */
    .stay-btn{
    width: 174px;
  height: 48px;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 14px 36px;
  border-radius: 12px;
  font-size: 14px;
  border: none;
  font-weight: 700;
  margin: 0px 250px 100px 450px;
  

  }
  .stay-btn:hover { background-color: #0bdb1c; }
  .stay-btn:hover {
  cursor: pointer;
}


  

/* nav styles */
nav{
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  margin: 51.5px 150px;

}

header{
background-image: url(Assets/Hero-bg.png);

}
.text-dcs{
  font-size: 45px;
color: #252432;
margin: 100px 190px 225px 320px;
}

span{
  margin: 0 130px;
}

/* raleway font */
  
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

  /* 2 main part  */
/* section-1 */
  #see-it{
    display: flex;
    justify-content: space-between;
    margin: 5px 50px 30px 50px;
  }

  .see{
    width: 517px;
    height: 49px;
    font-size: 42px;
    font-weight: 700;

  }
  .live{
    color: #666;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .lauch-btn{
    width: 229px;
  height: 48px;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 14px 36px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  font-weight: 700;
  /* margin: 0px 250px 100px 0px; */
  

  }
  .lauch-btn:hover { background-color: #0bdb1c;
      
  }
  .lauch-btn:hover {
  cursor: pointer;
}

  .wc-mini{
    border-radius: 48px;
  }
  
  #see-it{
    margin: 0px 200px 10px 200px;
  }

  /* section-2 */
  #section-2{
    background-color: #e4e4fa;
    border-radius: 24px;
    margin: 150px;
  }
  .Joined{
    height: 29px;
    width: 692px;
    color: #252432;
    font-size: 36px;

    margin: -20px 60px 10px 60px;
    padding: 70px 20px 20px 400px;

  }
  .abbai-ppl{
    display: flex;
    justify-content: space-around;
  }
  .milion{
    color: #4E47FF;
    width: 162px;
    height: 97px;
    font-size: 80px;
    font-weight: 700;
    margin-top: 56px;


  }

  .activ{
width: 120px;
height: 24px;
font-size: 14px;
font-weight: 500;
margin-top: -70px;
margin-bottom: 50px;
color: #666;
  }

  /* section-3 */
  .what-our{
    justify-content: center;
    font-size: 50px;
    margin: -7px 700px ;
    font-weight: 700;
  }

  .main-card{
    background-color: #fcf8f8;
    border-radius: 20px;
    padding: 50px;
    margin: 80px 100px 20px 100px;
    
  }

.abba-card{
  display: flex;
  justify-content: space-between;
}

.avatar-op{
  border-radius: 9999px;
  max-width: 40px;
  max-height: 40px;
  margin-top: 10px;
}
.data{
display: flex;
margin-top: -18px;
}
.name{
  margin: -5px 10px -5px 10px;
}
.datas{
margin-top: -18px;
color: #B3B3B3;
}
.review{
  color: #757575;

}

.loved{
font-size: 22px;
}
.this{
width: 318px;
height: 44px;
color: #1E1E1E;
margin-top: -5px;
}

/* section-4 */
.redy-main{
  /* background-color: #fcf8f8; */
    border-radius: 20px;
    padding: 50px;
    margin: 80px 100px 20px 100px;

}
.ready{
  font-size: 60px;
  margin: -2px 00px 10px 400px;
}

.para{
  color: #424242;
  margin: 0px 110px 20px 450px;
}

.get-free-btn{
    width: 174px;
  height: 48px;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 14px 36px;
  border-radius: 12px;
  font-size: 13px;
  border: none;
  font-weight: 700;
  margin: 10px 150px 40px 600px;
}
  

  .get-free-btn:hover { background-color: #0bdb1c; }
  .get-free-btn:hover {
  cursor: pointer;
  }

  .coneo{
    border-radius: 48px;
    margin: -3px 10px auto 250px;
  }
/* section-5 */
  .from-abba{
    display: flex;
    justify-content: space-between;
    background-color: #fcf8f8;
    border-radius: 20px;
    padding: 50px;
    margin: 80px 100px 20px 100px;

  }

  .get{
    font-size: 97px;
    font-weight: 700;
  }

  .gat-in-btn{
    width: 270px;
  height: 40px;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 12px 80px;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  font-weight: 700;
  margin:   60px 100px 20px 0px;
  text-align: center;
}
  

  .gat-in-btn:hover { background-color: #0bdb1c; }
  .gat-in-btn:hover {
  cursor: pointer;
  }
  .epick{
    padding: 20px 100px;
    border-radius: 10px;
    border: none;
    font-size: 18px;


  }

  .eeeee{
    padding: 0px 70px;
      border-radius: 10px;
      border: none;
        font-size: 18px;
        
  }
  
  /* footer */
  .logol{
    
    justify-content: space-between;
    /* background-color: #fcf8f8; */
    border-radius: 20px;
    padding: 50px;
    margin: 80px 100px 20px 100px;


  }
    .lolog{
    width: 291px;
    height: 121px;
    color: #4E47FF;
    font-size: 100px;
    margin: -10px 200px 20px 600px;

    }

    .ratr{
      color: #8987A1;
      font-size: 19px;
      margin:-1px 200px auto 450px;
    }
    .tata{
      color: #8987A1;
      font-size: 19px;
      margin:-1px 200px auto 470px;
    }

    

    .nav-last {
  display: flex;
  gap: 50px;
  margin: 20px 550px;

}

.nav-last a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

.nav-last a:hover {
  color: rgb(255, 0, 0);
}