/* 1 header  */
/* logo */
.logo{
  color: #4E47FF;
  font-weight: 900;
  font-size: 34px;
  line-height: 150%;
  
}
/* inter-font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sign-up-btn {
  width: 132px;
  height: 48px;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 12px 36px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  font-weight: 700;
}
.sign-up-btn:hover { background-color: #db0b0b; }
.sign-up-btn:hover {
  cursor: pointer;
}

  /* stay-btn */
    .stay-btn{
    width: 174px;
  height: 48px;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 14px 36px;
  border-radius: 12px;
  font-size: 14px;
  border: none;
  font-weight: 700;
  margin: 0px 250px 100px 450px;
  

  }
  .stay-btn:hover { background-color: #0bdb1c; }
  .stay-btn:hover {
  cursor: pointer;
}


  

/* nav styles */
nav{
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  margin: 51.5px 150px;

}

header{
background-image: url(Assets/Hero-bg.png);
  
}
.text-dcs{
  font-size: 45px;
color: #252432;
margin: 100px 190px 225px 320px;
}

span{
  margin: 0 130px;
}

/* raleway font */
  
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

  /* 2 main part  */
/* section-1 */
  #see-it{
    display: flex;
    justify-content: space-between;
    margin: 5px 50px 30px 50px;
  }

  .see{
    width: 517px;
    height: 49px;
    font-size: 42px;
    font-weight: 700;

  }
  .live{
    color: #666;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .lauch-btn{
    width: 229px;
  height: 48px;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 14px 36px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  font-weight: 700;
  /* margin: 0px 250px 100px 0px; */
  

  }
  .lauch-btn:hover { background-color: #0bdb1c;
      
  }
  .lauch-btn:hover {
  cursor: pointer;
}

  .wc-mini{
    border-radius: 48px;
  }
  
  #see-it{
    margin: 0px 200px 10px 200px;
  }

  /* section-2 */
  #section-2{
    background-color: #e4e4fa;
    border-radius: 24px;
    margin: 150px;
  }
  .Joined{
    height: 29px;
    width: 692px;
    color: #252432;
    font-size: 36px;

    margin: -20px 60px 10px 60px;
    padding: 70px 20px 20px 400px;

  }
  .abbai-ppl{
    display: flex;
    justify-content: space-around;
  }
  .milion{
    color: #4E47FF;
    width: 162px;
    height: 97px;
    font-size: 80px;
    font-weight: 700;
    margin-top: 6px;


  }

  .activ{
width: 120px;
height: 24px;
font-size: 14px;
font-weight: 500;
margin-top: -70px;
color: #666;



  }